<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head.ejs') %>
  <link rel="stylesheet" href="/styles/details.css" />
</head>
<body>
  <main>
    <header>
      <%- include('../layout/header.ejs') %>
    </header>
    <h1>Book detail.</h1>
    <div class='resultCard'>
    <% results.forEach( book => { %>
        <%- include('./detail.ejs', {
          book: book,
          bookshelf: bookshelf
        }) %>
        
        <form action='/searches' method='post'>
          <a class='home' href="/">Back to Collection.</a>
        </form>
        
        <form method='post' action="/books/<%- book.id %>?_method=delete">
          <button type='submit'>Delete.</button>
        </form>
    
        <form method="post" action="/books/<%- book.id %>?_method=put">
            <input type="text" name="imageurl" value="<%= book.imageurl %>" />    
            <input type="text" name="title" value="<%- book.title %>" />
            <input type="text" name="author" value="<%- book.author %>" />
            <input type="text" name="bookdescription" value="<%- book.bookdescription %>" />
            <input type="text" name="categories" value="<%- book.categories %>" />
            
              <datalist id="bookshelves">
                <% bookshelf.forEach(shelf => { %>
                  <option value="<%= shelf.categories %>" />
                    <% });%>
              </datalist>
             
          
            <button type="submit">Save the book.</button>
          </form>
        <% }) %> 
      </div> 
  </main>
</body>
</html> 