<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection</title>
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="stylesheet" href="/styles/modules.css" />
    <link rel="stylesheet" href="/styles/icons.css" />
    <link rel="stylesheet" href="/styles/layoutshow.css" />
  </head>
  <body>
    <main>
      <h1>Search Results:</h1>
      <!--    Made by Erik Terwan    -->
  <!--   24th of November 2015   -->
  <!--        MIT License        -->
  <nav role="navigation">
    <div id="menuToggle">
      <!--
    A hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
      <input type="checkbox" />
      <!-- Spans act as the hamburger. -->
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <a href="/">
          <li>Home</li>
        </a>
        <a href="/searches/new">
          <li>Search</li>
        </a>

        <a href="/credits">
          <li>Credits</li>
        </a>
      </ul>
    </div>
  </nav>

  <% searchResults.forEach( book => { %>
  <form id="book-form" action="/addtocollection" method="post">
    <fieldset>
      <button type="submit">Add to Collection.</button>
      <input type="hidden" name="title" value="<%= book.title %>">
      <input type="hidden" name="author" value="<%= book.author %>">
      <input type="hidden" name="bookdescription" value="<%= book.bookdescription %>">
      <input type="hidden" name="imageurl" value="<%= book.imageurl %>">
    </fieldset>
  </form>
    <div class="cards">
      <img src="<%= book.imageurl %>" alt="">
      <h3><%= book.title %></h3>
      <h4><%= book.author %></h4>
      <p><%= book.bookdescription %></p>
      </div>
  <% }) %>    
    </main>
  </body>
</html>
