<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layout/head.ejs') %>
  </head>
  <body>
    <main>
      <header>
        <%- include('../layout/header.ejs') %>
      </header>
      <h1>Search Results:</h1>


  <% searchResults.forEach( book => { %>
    <%- include('../books/detail.ejs', {
      book: book,
      bookshelf: bookshelf
    }) %>
  <form id="book-form" action="/addtocollection" method="post">
    <fieldset>
      <button type="submit">Add to Collection.</button>
      <input type="hidden" name="title" value="<%= book.title %>">
      <input type="hidden" name="author" value="<%= book.author %>">
      <input type="hidden" name="categories" value="<%= book.categories %>">
      <input type="hidden" name="bookdescription" value="<%= book.bookdescription %>">
      <input type="hidden" name="imageurl" value="<%= book.imageurl %>">
    </fieldset>
  </form>
  <% }) %>    
    </main>
  </body>
</html>
