<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layout/head.ejs') %>
  </head>
  <body>
    <main>
      <header>
        <%- include('../layout/header.ejs') %>
      </header>
      <h1>Search Results:</h1>


  <% searchResults.forEach( book => { %>
  <form id="book-form" action="/addtocollection" method="post">
    <fieldset>
      <button type="submit">Add to Collection.</button>
      <input type="hidden" name="title" value="<%= book.title %>">
      <input type="hidden" name="author" value="<%= book.author %>">
      <input type="hidden" name="bookdescription" value="<%= book.bookdescription %>">
      <input type="hidden" name="imageurl" value="<%= book.imageurl %>">
    </fieldset>
  </form>
    <div class="cards">
      <img src="<%= book.imageurl %>" alt="">
      <h3><%= book.title %></h3>
      <h4><%= book.author %></h4>
      <p><%= book.bookdescription %></p>
      </div>
  <% }) %>    
    </main>
  </body>
</html>
